<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>the Owner page </title>
</head>
<body>
<h1 th:text="'Owner page'">Index page</h1>
<table>
    <th>
    <td>Id</td>
    <td>FirstName</td>
    <td>LastName</td>
    </th>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner?.id}">Id</td>
        <td th:text="${owner?.firstName}">FirstName</td>
        <td th:text="${owner?.lastName}">LastName</td>
    </tr>
</table>

</body>
</html>